ldif/__pycache__
ldif/*/__pycache__
ldif/gaps
ldif/ldif2mesh/ldif2mesh
.DS_Store
ldif/trained_models/

# GT shapes
obj_files_GT/
ply_files_GT/

# Shapes under metrics/
metrics/*.ply

# Meshes for dataset construction
meshes_*/

# datasets
dataset_*/

# results
results_*